@import "tailwindcss";

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,
body{
  width:100%;
  height:100%;
  background:#000;
  overflow:hidden;
  touch-action:none;
}

canvas{
  position:absolute !important;
  inset:0;
  width:100vw !important;
  height:100dvh !important;
}